body{
  margin: 0px;
  background:rgb(0, 0, 0);
  color: white;
  font-family: 'Roboto', sans-serif;
}
.fondo{
  position: absolute;
  top: 0px;
  margin:0px;
    width: 100%;
    height:900px;
    background-image: url(/G16-A/ClonNetflix/src/fondoindex.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}
.difumbody{
  margin:0px;
  width: 100%;
  height:900px;
  z-index: 1;
  
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), 70%, rgba(0, 0, 0, 1));
} 
.difumnav{
  position: fixed;
  height: 60px;
  top: 0px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0), 40%, rgba(0, 0, 0, 1));
  width: 100%;
  z-index:2 ;
}
nav{
  position: fixed;
  height: 60px;
  top: 0px;
  width: 100%;
  z-index: 3 ;
  display: flex;
}
.left{
  width: 50%;
  display: flex;
  justify-content: flex-start;
}
.right{
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#logo #netflix{
  width: 100px;
  margin-left: 30px;
}
.cardleft{
  margin-left: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.cardright{
  margin-right: 40px;
  /* display: flex; */
  align-items: center;
}
#user{
  display: flex;
}
#userimg{
  width: 30px;
}
.icono{
  height: 20px;
  object-fit: contain;
}
#logotw{
  position: relative;
  top: 350px;
  width: 100%;
  height: 90px;
}
#logotw img{
  width: 500px;
  margin-left: 30px;
}
#logoplay{
  
  top: 370px;
  display: flex;
  position: relative;
}
.svg{
  height: 20px;
}
#play{
  display: flex;
  align-items: center;
  border: none;
  height: 40px;
  margin-left: 30px;
  width: 150px;
  justify-content: space-evenly;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-style: bold 700;
  border-radius: 4px;
  background: white;
  cursor: pointer;
}
#info{
  display: flex;
  align-items: center;
  border: none;
  height: 40px;
  margin-left: 20px;
  width: 160px;
  justify-content: space-evenly;
  font-family: 'Roboto', sans-serif, bold;
  font-size: 15px;
  border-radius: 4px;
  background: rgba(159, 159, 159, 0.747);
  color: white;
  font-style: bold 700;
  cursor: pointer;
}
#info img{
  filter: invert(100%);
}
#age{
  display: flex;
  align-items: center;
  width: 100px;
  height: 30px;
  background: rgba(150, 150, 150, 0.285);
  backdrop-filter: blur(1px);
  padding-left: 10px;
  border-left: solid 2px rgb(185, 185, 185);
  margin-left: 10px;
}
#mute{
  filter: invert(100%);
  cursor: pointer;
}
#carrusel{
  position: relative;
  top: 500px;
  display: flex;
  justify-content: space-evenly;
}
.cardcarrusel{

  width: 250px;
  object-fit: contain;
}
.cardcarrusel:hover{
  transform: scale(1.5);
  transition: 500ms;
}
#card1:hover{
  transform: scale(1.5) translate(20%,0%);
}
#card5:hover{
  transform: scale(1.5) translate(-20%,0%);
}
