body{
    margin: 0px;
    background:rgb(27, 27, 27);
    color: white;
    font-family: 'Roboto', sans-serif;
  }

nav{
    height: 60px;
    top: 0px;
    width: 100%;
    z-index: 3 ;
    display: flex;
    justify-content: flex-start;
}
#logo #netflix{
    width: 100px;
    margin-left: 30px;
}
#mensaje{
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    margin-bottom: 20px;
}
#carrusel{
    margin: auto;
    display: flex;
    width: 900px;
    height: 180px;
    justify-content: space-around;
    color: rgb(87, 87, 87);
    font-size: 20px;
}
#carrusel a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(109, 109, 109);
    justify-content: space-around;
    height: 180px;
}
#carrusel a:hover{
    color: rgb(241, 240, 240);
}
.avatars{
    width: 150px;
}
.avatars:hover{
    border: 3px solid white;
    transition: 200ms;
    color: rgb(152, 131, 131);
}
#plusa{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 180px;
    width: 150px;
}
#plus{
    width: 100px;
    height: 100px;
    filter: invert(30%);
    margin: 0;

}
#agrperf{
    margin-bottom: -15px;
}
#plus:hover{
    filter: invert(70%);
    transition: 200ms;
}
#perfiles{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    width: 300px;
    height: 30px;
    border: 2px solid rgb(147, 147, 147);
    border-radius: 4px;
    color: rgb(87, 87, 87);
    font-size: 20px;
    margin-top: 100px;
}
#perfiles:hover{
    cursor: pointer;
    border: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}